@font-face {
  font-family: BalsamiqSansRegular;
  src: url(../fonts/BalsamiqSansRegular.ttf);
}

@font-face {
  font-family: BalsamiqSansBold;
  src: url(../fonts/BalsamiqSansBold.ttf);
}

body{
    font-size: 90% !important;
}

label{
  float: left!important;
}

h3{
	font: 1.5em BalsamiqSansRegular; 
}

h2{
	font: 1.5em BalsamiqSansBold; 
}

p{
	font: 1.5em BalsamiqSansRegular; 
}

footer{
    position: fixed;
    float: left;
    bottom: 0;
    right: 10px;
}

.retour{
	margin-bottom: 50px;
}

#errNom{
  color: #ff0000;
  font-weight: bold;
}

#errPre{
  color:#ff0000;
  font-weight: bold;
}

#errAdd{
  color:#ff0000;
  font-weight: bold;
}

#errMail{
  color:#ff0000;
  font-weight: bold;
}

#errTel{
  color:#ff0000;
  font-weight: bold;
}

#erreur2{
  color:#ff0000;
  font-weight: bold;
}

#erreur1{
  color:#ff0000;
  font-weight: bold;
}

#valid{
  color:#1ab385;
  font-weight: bold;
  font-size: 25px;
}

#valid2{
  color:#1ab385;
  font-weight: bold;
  font-size: 25px;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
    color: black;
}

a:hover {
  text-decoration: none;
    color: black;
}

a:active {
  text-decoration: none;
    color: black;
}